<div>
  {{#each this.favorites as |list|}}
  <h3>{{list}} <a href="#" {{action "removeFromFavorites" list}} class="button-trash">
   <i class="bi bi-trash"></i>
  </a> </h3>
  {{/each}}
  </div>


  
  


 